/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-yellow: rgb(224, 185, 115); //#e0b973;
  --color-yellow-transparent: #e0b97355;
  --color-blue: rgb(20, 39, 74); //#14274a;
  --color-blue--transparent: #14274a55;
  --wrapper-width: 800px;
}

body {
  color: var(--color-blue);
  font-family: sans;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}
p {
  margin-bottom: 1rem;
}

.button {
  background-color: var(--color-yellow);
  padding: 0.7rem 1.3rem;
  border-radius: 3px;

  &--small {
    padding: 0.3rem 0.8rem;
  }
}

.book_now {
  display: inline-block;

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  img {
    width: 20px;
    margin-right: 0.5rem;
  }
}

input,
textarea {
  border: 1px solid var(--color-blue--transparent);
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  &:focus {
    border-color: var(--color-blue);
    outline: none;
  }
}

.page-wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;

  @media only screen and (max-width: 767.99px) {
    margin: 0 1rem;
  }

  &--single {
    margin: 1rem auto;
  }

  & .page-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.layout {
  position: relative;
}

.header {
  position: relative;
  z-index: 3;
  //   position: sticky;
  //   top: 0;
  padding-bottom: 1rem;
  color: White;
  text-align: center;

  @media only screen and (max-width: 767.99px) {
    position: relative;
    top: initial;
  }

  &_links,
  &_menu {
    padding: 1rem 0;
  }

  &_links {
    &_link-phone {
      color: transparent;
      text-shadow: 0 0 0 white;
    }
    ul li {
      display: inline-block;
      padding: 0.5rem;
    }
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1024;
    margin: 0 auto;

    & > * {
      flex-grow: 1;
    }

    // @media only screen and (max-width: 767.99px) {
    //   justify-content: space-around;
    // }
  }

  &_logo {
    border: 1px solid var(--color-blue-transparent);
    background: var(--color-yellow);
    border-top: 0;
    padding: 1rem 2rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
    display: inline-block;
  }
  &_menu {
    @media only screen and (max-width: 767.99px) {
      display: none;
    }

    ul {
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      li {
        margin-right: 1rem;
        a {
          padding: 0.5rem 1rem;
          border-radius: 0.1rem;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid var(--color-blue);
            color: var(--color-blue);
          }
        }
      }
    }
  }
}
.top {
  overflow: hidden;
  position: relative;
  .top_image {
    z-index: 1;
    background: url("/assets/photos/outdoor.jpeg") center center;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(4px);
    overflow: hidden;
  }
  .top_overlay {
    z-index: 2;
    background: var(--color-yellow);
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.hero {
  z-index: 2;
  // background: var(--color-yellow);
  margin-bottom: 1em;
  color: var(--color-blue);
  margin-top: -7rem;
  padding-top: 10rem;
  position: relative;

  .hero_background {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
  }

  .hero_text {
    font-size: 1.2rem;
    max-width: var(--wrapper-width);
    margin: 0 auto;

    @media only screen and (max-width: 767.99px) {
      text-align: center;
      &_name {
        font-size: 3rem;
        font-weight: 600;
      }
      &_subname {
        font-size: 2rem;
      }
    }

    &_welcome,
    &_name,
    &_subname {
      text-transform: uppercase;
    }

    &_name {
      font-size: 5rem;
      line-height: 1.1em;
      font-weight: 600;
    }
    &_subname {
      font-size: 3rem;
    }
    &_legend {
      margin-top: 1rem;
    }
  }

  .hero_footer {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: White;
    padding: 2em;

    .book_now {
      clear: both;
      display: inline-block;
      font-weight: normal;
      font-size: 0.9em;
      border: 1px solid var(--color-blue--transparent);
      &:hover {
        border: 1px solid var(--color-blue);
      }
    }

    .btn--rounded {
      color: var(--color-yellow);
      display: inline-block;
      clear: both;
      background: White;
      border-radius: 3em;
      text-align: center;
      padding: 0 0;
      margin: 1rem;
      transform: rotate(-90deg);
      width: 40px;
      height: 40px;
    }
  }
}

.rooms {
  padding-top: 1rem;
  &_title {
    font-family: sans;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  &_room {
    flex-direction: row-reverse;
    display: flex;
    flex-flow: row-reverse;
    padding: 1em 0;

    @media only screen and (max-width: 767.99px) {
      flex-direction: column;
    }

    &_image {
      max-height: 40%;
      flex: 1 0 0px;
    }

    &_info {
      flex: 1 0 0px;
      order: 2;
      border-left: 1px solid var(--color-blue);
      padding: 1rem;

      @media only screen and (max-width: 767.99px) {
        border: 0 none;
        padding: 1rem 0;
        text-align: center;
      }

      &_title {
        font-family: "EB Garamond", serif;
        font-size: 1.4rem;
        font-weight: bold;
      }
      &_subtitle {
        font-size: 0.95rem;
      }
      &_button {
        margin-top: 1rem;
        display: none;
      }
    }

    &_image {
      flex-grow: 1;
      order: 1;
      width: 800px;
      background: lightgray;
      padding: 1em;

      @media only screen and (max-width: 767.99px) {
        width: 100%;
      }
    }
  }
}

.testimonials {
  background: var(--color-yellow-transparent);
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 1rem;

  &_title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  .testimonial {
    padding-bottom: 1rem;
    &_phrase {
      font-size: 1.3rem;
      font-family: "EB Garamond", serif;
    }

    &_author {
    }
  }

  &_buttons {
    font-size: 1em;
    .button {
      background: var(--color-yellow);
      color: var(--color-blue);
      &:hover {
        background: var(--color-blue);
        color: var(--color-yellow);
      }
      &:first-child {
        margin-right: 1rem;
      }
    }
  }
}

.facilities {
  &_title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
  }

  &_content {
    max-width: var(--wrapper-width);
    margin: 0 auto;
    padding: 2rem 0;
    margin-bottom: 2rem;

    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;

    .facilities_facility {
      text-align: center;

      &_image {
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-bottom: 1em;
      }
      &_title {
        font-size: 1.8rem;
        font-weight: 500;
        font-family: "EB Garamond", serif;
      }
      &_subtitle {
        font-size: 1rem;
        font-family: sans;
      }
    }
  }
}

.contact-us {
  display: flex;
  background: var(--color-yellow-transparent);
  width: 100%;
  padding: 2rem 0;

  .page-wrapper {
    width: var(--wrapper-width);
  }

  &_title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  &_content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    @media only screen and (max-width: 767.99px) {
      flex-direction: column;
    }

    &_info {
      font-weight: 1.1rem;
      flex: 1 0 0px;

      &_view-map {
        margin: 0.4rem 0;
        font-size: 1.1rem;
        font-weight: bold;
        display: block;

        .arrow {
          font-weight: 2em;
        }
      }
    }

    &_form {
      flex: 1 0 0px;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      gap: 0.5em;

      @media only screen and (max-width: 767.99px) {
        margin-top: 1rem;
      }

      button {
        margin-top: 1rem;
        font-weight: bold;
        color: var(--color-blue);
      }
    }
  }
}

/* Footer */
.footer {
  color: white;
  background: var(--color-blue);
  min-height: 3em;
  padding: 4em 2em;

  .footer_logo {
    margin-bottom: 1em;
  }
  .footer_group li {
    margin-bottom: 0.2em;
  }

  h3 {
    font-weight: 1.3em;
  }

  h3,
  h4 {
    font-weight: bold;
  }
  &_group_social {
    img {
      display: inline-block;
      padding-right: 1rem;
    }
  }

  @media only screen and (max-width: 767.99px) {
    .footer_group {
      margin-bottom: 1.5em;
    }
    .footer_group:last-child {
      margin-bottom: 0;
    }

    &_logo {
      margin: 1em auto;
    }
  }

  .footer_group_social {
    &_image {
      min-width: 45px;
      display: inline-block;
      img {
        height: 20px;
      }
    }
  }

  .footer_group_wrapper {
    max-width: var(--wrapper-width);
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 767.99px) {
      display: block;
      text-align: center;
    }
  }
}
